<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Crear Usuario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label position="floating">Nombre:</ion-label>
        <ion-input [(ngModel)]="usuario.username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password:</ion-label>
        <ion-input [(ngModel)]="usuario.password"></ion-input>
    </ion-item>


    <ion-item>
        <ion-button color="dark" (click)="guardarUser()">Enviar</ion-button>
    </ion-item>



</ion-content>